* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #2E1065;
    --text: #FFF;
    --secondary: #8B5CF6;
    --accent: #06B6D4;
    --warning: #F59E0B;
    --success: #16A34A;
    --error: #DC2626;
    --info: #3267D9;
    --instagram: #D94747;
    --github: #000000;
    --linkedin: #1B58DD;
    --copyright: #696969;
}

body {
    background-color: var(--primary);
    color: var(--text);
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}
    
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;

}

.text-info h2 {
    font-size: 28px;
    margin-bottom: 6px;

}

.text-info p {
    color: var(--text);
    font-size: 17px;

}

.float-img {
    width: 150px;
    height: 150px;
    border-radius: 49%;
    border: 3px solid var(--accent);
    object-fit: cover;
    box-shadow: 0 0 15px;
    animation: float 3s ease-in-out infinite;
    margin-top: 20px;

}

@keyframes float {
    0% {
        transform: translateY(0px); 
    }
    50% {
        transform: translateY(-11px);
    }
    100% {
        transform: translateY(0px);
    }

}

.navegation {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.navegation ul {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.navbox {
    border: 2px solid var(--text);
    padding: 2px 28px;
    border-radius: 20px;
    margin: 10px;
    width: 7rem;
    transition: 0.5s;

}

.navbox:hover {
    background-color: var(--secondary);
    cursor: pointer;
    transform: scale(1.04);
  
}

.navegation a {
    text-decoration: none;
    color: var(--text);
    position: relative;
    transition: 0.2s;
    font-size: 1.01rem;
    padding: 5px 0;
    font-family: 'Bold' sans-serif;
    cursor: pointer;
   
}

.header img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: 0.5s;
    border-color: var(--accent);
    box-shadow: 0 0 19px var(--accent);

}

.header h2 {
    font-size: 27px;
    margin-bottom: 5px;

}

.header p {
    color: var(--text);

}

.about {
    max-width: 800px;
    margin: 40px auto;
    padding: 22px;

}

.subtitulo {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    
}

.subtitulo span {
    color: var(--secondary);
}

.subpar {
    text-align: center;
    color: var(--text);
    font-size: 18px;
    
}

.subbox {
    padding: 3rem;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid var(--info);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.10);
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.7);
    transition: 0.5s;

}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: transform 0.5s ease-in-out;

}

.card {
    flex: 1 1 300px;
    max-width: 350px;
    padding: 26px;
    background-color: var(--secondary);
    border-radius: 13px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.10);
    text-align: center;
    transition: 0.5s;

}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 13px rgba(204, 204, 204, 0.541);
}

.answer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 16px 0;

}

.answer-box input {
    width: 180px;
    padding: 9px 10px;
    border: 2px solid var(--secondary);
    border-radius: 6px;
    font-size: 16px;
    text-align: center;

}

.answer-box button {
    padding: 8px 13px;
    border: none;
    border-radius: 7px;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;

}

.result {
    margin-top: 11px;
    padding: 9px 13px;
    border-radius: 9px;
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0.9;
    display: inline-block;
    min-width: 120px;

}

.result.success {
    background-color:var(--success);
    color: var(--text);

}

.result.warning {
    background-color: var(--warning);
    color: var(--text);

}

.result.error {
    background-color: var(--error);
    color: var(--text);

}

.result.info {
    background-color: var(--info);
    color: var(--text);

}

.result.show {
    opacity: 1;
    transform: scale(1.05);

}

footer.networks-icons {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    gap: 6px;
    text-align: center;
    justify-content: center;

}

.instagram {
    gap: 13px;
    margin: 5px;
    border-radius: 50%;
   
}

.instagram i {
    font-size: 19px;
    color: var(--text);
    padding: 7px;
    border-radius: 50%;
    transition: 0.4s;
    

}

.instagram i:hover {
    transform: scale(1.1);
    background-color: var(--instagram);
    cursor: pointer;
    box-shadow: 0 2px 14px rgba(204, 204, 204, 0.541);

}

.github {
    gap: 13px;
    margin: 5px;
    border-radius: 50%;

}

.github i {
    font-size: 19px;
    color: var(--text);
    padding: 7px;
    border-radius: 50%;
    transition: 0.4s;
   
}

.github i:hover {
    transform: scale(1.1);
    background-color: var(--github);
    cursor: pointer;
    box-shadow: 0 2px 14px rgba(204, 204, 204, 0.541);

}

.linkedin {
    margin: 5px;
    border-radius: 50%;

}

.linkedin i {
    font-size: 19px;
    color: var(--text);
    padding: 7px;
    border-radius: 50%;
    transition: 0.4s;
    
}

.linkedin i:hover {
    transform: scale(1.1);
    background-color: var(--linkedin);
    cursor: pointer;
    box-shadow: 0 2px 14px rgba(204, 204, 204, 0.541);
    

}

.rights {
    align-items: center;
    margin-bottom: 20px;
    color: var(--copyright);
    flex-direction: column;
    
}

@media (max-width: 760px) {
    .profile {
        flex-direction: column;
    }
    .divider {
        display: none;
    }
    .float-img {
        width: 120px; height: 120px;
    }
}

@media (max-width: 480px) {
    .text-info h2 {
        font-size: 22px;
    }
    .text-info p {
        font-size: 14px;
    }
}

