* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --blue: #a4d3fc;
    --orange: #deb887;
    --orange2: #a67c52;
    --black: #000000;
    --white: #ffffff;
    
}

body {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;

}

.navbar {
    display: flex;
    position: sticky;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    
}

.navbar ul {
    display: flex;
    gap: 14px;
    list-style: none;

}

.navbar a {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    cursor: pointer;

}

.navbar a:hover {
    text-decoration: underline;

}

section {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 6px 44px;

}

h1 {
     padding: 4px 8px;
     text-align: center;
     margin: 12px;
     text-transform: uppercase;

}

.botão {
    padding: 8px 155px;
    border: none;
    border-radius: 20px;
    transition: 0.4s ease;
    background-color: var(--orange);
    color: var(--black);
    font-size: 1rem;

}

.botão:hover {
    cursor:  pointer;
    transform: scale(1.01);

}


 .pratos {
    padding: 3px;
    background-color: var(--white);
    border: none;
    border-radius: 6px;
    color: var(--black);
    
}

 .sobremesas {
    padding: 3px;
    background-color: var(--white);
    border: none;
    border-radius: 6px;
    
}

 .bebidas {
    padding: 3px;
    background-color: var(--white);
    border: none;
    border-radius: 6px;
    
}

.quantidade {
    padding: 3px;
    background-color: var(--white);
    border: none;
    border-radius: 6px;
    
}
 
.box {
    border: 2px solid var(--black);
    padding: 30px 24px;
    border-radius: 15px;

}
 
#resultado {
    margin-top: 3px;
    text-align: center;
    font-size: 1.09rem;

}

/* Responsividade  */
@media (max-width: 760px) {
    body {
        padding: 10px;
        overflow: hidden;
       
    }

    section {
        padding: 20px;
        width: 100%;

    }

    .box {
        padding: 20px 15px;

    }

    h1 {
        font-size: 1.3rem;
        margin: 10px 0;

    }

    .botão {
        padding: 10px 0;
        width: 100%;
        font-size: 1rem;

    }

    .pratos,
    .sobremesas,
    .bebidas,
    .quantidade {
        width: 100%;
        padding: 10px;
        margin-bottom: 1px;
        font-size: 1rem;

    }

    #resultado {
        font-size: 1.1rem;
        
    }
}

/* Responsividade  */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        padding: 20px;

    }

    section {
        width: 90%;

    }

    .box {
        padding: 25px;

    }

    .botão {
        width: 80%;
        align-items: center;

    }
}

/* Responsividade  */
@media (min-width: 1025px) and (max-width: 1366px) {
    selection {
        width: 70%;

    }

    .box {
        padding: 30px;

    }

    .botão {
        width: 100%;
        align-items: center;

    }
}

/* Responsividade  */
@media (min-width: 400px) and (max-width: 900px) {
    body {
        padding: 10px;

    }

    section {
        width: 100%;
        padding: 8px 12px;
        gap: 6px;

    }

    .box {
        padding: 14px 11px;
        border-radius: 10px;
        transform: scale(0.94);

    }

    h1 {
        font-size: 1.04rem;
        margin: 4px 0;

    }

    .botão {
        width: 100%;
        padding: 7px 0;
        font-size: 0.9rem;
        align-self: center;

    }

    input,
    select {
        width: 100%;
        font-size: 1rem;
        padding: 6px;

    }

    #resultado {
        font-size: 1.04rem;
        margin-top: 5px;
    }
}